<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
</body>
</html>
<html lang="en">

<head>
    {% include 'parciais/_head.html' %}

    <title>{% block titulo %}{% endblock titulo %}Hello, world!</title>

<body>
   {% include 'parciais/_nav.html' %}

    <main class="container mt-4 mb-4">
        {% block conteudo %}
        {% endblock conteudo %}
    </main>

    {% include 'parciais/_footer.html' %}

</body>

</html>